## <font color=blue>Data Wrangling with the `clean_dataframe` function</font>

### Documentation

#### Function:
`clean_dataframe(df, to_integer, to_float, to_string, to_bool, to_datetime, null_mean, null_mode)` <br>
It is a function that cleans and formats a given dataframe.

#### Parameters:
- `df` = required, the dataframe to be cleaned

- `to_integer` = optional, a list of column names that need to be transformed into integer-type columns

- `to_float` = optional, a list of column names that need to be transformed into float-type columns

- `to_string` = optional, a list of column names that need to be transformed into string-type columns

- `to_bool` = optional, a list of column names that need to be transformed into Boolean-type columns
    
- `to_datetime` = optional, a list of column names that need to be transformed into datetime-type columns

- `null_mean` = optional, a list of column names with missing values to be replaced by the mean of the corresponding columns

- `null_mode` = optional, a list of column names with missing values to be replaced by the mode of the corresponding columns

If only the `df` parameter is given, the dataframe will be cleaned by: 
- removing its empty rows
- removing its trailing and leading whitespaces
- replacing its double spaces by single spaces
- removing its duplicate rows

### Code

In [1]:
def clean_dataframe(df, to_integer=[], to_float=[], to_string=[], to_bool=[], to_datetime=[], null_mean=[], null_mode=[]):
    ## A function that cleans our dataframe
    
    # Ensure that the numpy library is imported
    import numpy as np
    
    # Remove empty rows
    df.replace(r'^\s*$', np.nan, regex=True, inplace=True)
    df.dropna(how='all', inplace=True)
    
    # Replace double space with single space and remove trailing and leading whitespaces
    c_types = df.dtypes.tolist()
    c_names = df.columns.tolist()
    combined_tuples = list(zip(c_types, c_names))

    for value in combined_tuples:
        if value[0] == 'object':
            df[str(value[1])] = df[str(value[1])].str.replace('  ', ' ')
            df[str(value[1])] = df[str(value[1])].str.strip()
        
    # Remove duplicate rows
    df.drop_duplicates(inplace=True)
    
    # Format columns to integer type
    if to_integer:
        for name in to_integer:
            df[str(name)] = df[str(name)].round().astype(int)
            
    elif to_integer == []:
        pass
    
    # Format columns to float type
    if to_float:
        for name in to_float:
            df[str(name)] = df[str(name)].astype(float)
            
    elif to_float == []:
        pass
    
    # Format columns to string type
    if to_string:
        for name in to_string:
            df[str(name)] = df[str(name)].astype(str)
            
    elif to_string == []:
        pass
    
    # Format columns to Boolean type
    if to_bool:
        for name in to_bool:
            df[str(name)] = df[str(name)].astype(bool)
            
    elif to_bool == []:
        pass
    
    # Format columns to datetime type
    if to_datetime:
        for name in to_datetime:
            df[str(name)] = pd.to_datetime(df[str(name)])
            
    elif to_datetime == []:
        pass
    
    # Replace null values of columns by their means
    if null_mean:
        for name in null_mean:
            column_mean = df[str(name)].mean() 
            df[str(name)].replace(np.nan, column_mean, inplace=True)
    
    elif null_mean == []:
        pass
    
    # Replace null values of columns by their modes
    if null_mode:
        for name in null_mode:
            column_mode = df[column_name].value_counts().idxmax()
            df[column_name].replace(np.nan, column_mode, inplace=True)
    
    elif null_mode == []:
        pass
    
    return df.reset_index(drop=True)

## <font color=blue>Example</font>

### Import libraries

In [2]:
import pandas as pd
import numpy as np

### Create the dataframe for our dataset

In [4]:

url = 'https://raw.githubusercontent.com/marvin-rubia/Automating-Basic-Data-Wrangling-With-a-Python-Function/main/Cleaning_Automation_Example.csv'

# Let's have df_orig so we still have the very first dataframe (if ever we need to refer to it later)
df_orig = pd.read_csv(url)

# What we are going to clean and format is df (not df_orig) from here on
df = df_orig
df.head(15)

,Department,Equipment Class,Equipment Count
0,Board of Elections,Van,1.0
1,Board of Elections,Off Road Vehicle Equipment,2.0
2,Circuit Court,SUV,1.0
3,Community Engagement Cluster,Pick Up Trucks,8.0
4,Community Engagement Cluster,Off Road Vehicle Equipment,7.0
5,Community Engagement Cluster,SUV,2.0
6,NaN,NaN,NaN
7,Community Use of Public Facilities,Sedan,1.0
8,Community Use of Public Facilities,Sedan,1.0
9,Consumer Protection,Sedan,1.0
10,Correction and Rehabilitation,Off Road Vehicle Equipment,3.0
11,Correction and Rehabilltation,Public Safety Sedan,1.0
12,Correction and Rehabilitation,Public Safety SUV,2.0
13,Correction and Rehabilitation,SUV,3.0
14,Correction and Rehabilitation,Pick Up Trucks,1.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Department       61 non-null     object
 1   Equipment Class  57 non-null     object
 2   Equipment Count  57 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.6+ KB

From the previous `df.info()`, we see that there are 62 values under the __Department__ column. However, there are only 57 values available for the other two columns. This could be a red flag for missing values. Also, the __Equipment Count__ column should have been integer type.

### Use the `clean_dataframe()` function

In [6]:
## Clean our dataset

clean_dataframe(df, to_integer=['Equipment Count'])

,Department,Equipment Class,Equipment Count
0,Board of Elections,Van,1
1,Board of Elections,Off Road Vehicle Equipment,2
2,Circuit Court,SUV,1
3,Community Engagement Cluster,Pick Up Trucks,8
4,Community Engagement Cluster,Off Road Vehicle Equipment,7
5,Community Engagement Cluster,SUV,2
6,Community Use of Public Facilities,Sedan,1
7,Consumer Protection,Sedan,1
8,Correction and Rehabilitation,Off Road Vehicle Equipment,3
9,Correction and Rehabilltation,Public Safety Sedan,1
10,Correction and Rehabilitation,Public Safety SUV,2
11,Correction and Rehabilitation,SUV,3
12,Correction and Rehabilitation,Pick Up Trucks,1
13,Correction and Rehabilitation,Van,8
14,Correction and Rehabilitation,Sedan,10
15,Correction and Rehabilitation,CUV,1
16,County Executives Office,Sedan,2
17,County Executives Office,Public Safety SUV,3
18,Economic Development,SUV,1
19,Enviromnental Protection,SUV,18
20,Enviromnental Protection,Sedan,15
21,Enviromnental Protection,Van,3
22,Enviromnental Protection,CUV,1
23,Enviromnental Protection,Medium Duty,2
24,Enviromnental Protection,Pick Up Trucks,33
25,Finance,Sedan,3
26,Fire and Rescue,Public Safety SUV,27
27,Fire and Rescue,Public Safety Pick Up Trucks,12
28,Fire and Rescue,Public Safety Sedan,18
29,Fire and Rescue,Public Safety Van,11
30,Fire and Rescue,SUV,6
31,Fire and Rescue,Van,4
32,Fire and Rescue,Off Road Vehicle Equipment,2
33,Fire and Recsue,Pick Up Trucks,12
34,Fire and Rescue,Sedan,1
35,Fire and Rescue,Public Safety CUV,4
36,Fire and Rescue,Public Safety Heavy Duty,1
37,Fire and Rescue,Heavy Duty,1
38,Fire and Rescue,Transit Bus,1
39,General Services,Public Safety Van,1
40,General Services,SUV,21
41,General Services,Public Safety Heavy Duty,1
42,General Services,Off Road Vehicle Equipment,45
43,General Services,Sedan,31
44,General Services,Medium Duty,3
45,General Services,Van,42
46,General Services,CUV,5
47,General Servcies,Heavy Duty,5
48,General Services,Pick Up Trucks,48
49,Health and Human Services,CUV,5
50,Health and Human Servcies,Van,15
51,Health and Human Services,Public Safety SUV,1
52,Health and Human Services,Sedan,75

In [30]:
# Check info of our cleaned dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, 0 to 61
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Department       53 non-null     object
 1   Equipment Class  53 non-null     object
 2   Equipment Count  53 non-null     int32
dtypes: int32(1), object(2)
memory usage: 1.4+ KB

<div style="background-color:lightyellow"> If you did not use the optional parameter `null_mean` and `null_mode`, it's possible that the resulting dataframe might still have null values. 
    
#### To check which rows have at least one missing values, try using the code below.
`df[df.isnull().any(axis=1)]`
<br><br>
If you still have a row with missing value(s), you can either delete the entire row or replace the value(s) by mean or mode of the corresponding column(s). 

#### Deleting the entire row that contains missing value(s):
`df.dropna(subset=column_name, axis = 0, inplace=True)`

#### Replacing the null value by the MEAN of the column: 
This only applies to columns of numerical types.<br>
`column_mean = df[column_name].mean()` <br>
`df[column_name].replace(np.nan, column_mean, inplace=True)` <br>
The `np.nan` is via numpy, that's why we imported the numpy library.

#### Replacing the null value by the MODE of the column:
This is applicable for columns consisting of categorical variable (strings).<br>
`column_mode = df[column_name].value_counts().idxmax()` <br>
`df[column_name].replace(np.nan, column_mode, inplace=True)`
    
</div>

### Save the cleaned dataset

<div style="background-color:lightyellow"> You can save the cleaned dataframe to a new file or overwrite the original file with its cleaned version. I recommend writing it to a new file in case you need to refer to the original uncleaned file later on. 
    
#### If save to .csv format:
`df.to_csv('filename_cleaned.csv')` 

#### If save to .xlsx format:
`df.to_excel('filename_cleaned.xlsx')` <br>
You can also save to other file formats. Refer to this pandas' [documentation](https://pandas.pydata.org/docs/user_guide/io.html#io) about writing a dataframe to a file. 
</div>

In [32]:
# Write a new file with the cleaned version of our example dataset

df.to_csv('Cleaning_Automation_Example_CLEANED.csv')